<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{{title}}</title>
    {{> strings.html top_right_date=(dateYear date)}}
    <link rel="stylesheet" href="fonts/PT_fonts.css">
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <header>
        {{#if title}}<h1>{{title}}</h1>{{/if}}
        {{> author.html }}
        {{> date.html }}
        {{> summary.html }}
    </header>
    <main>
        {{#each body}}
        <p>{{{marked this}}}</p>
        {{#if @last}}<p style="text-align: right;">&#8718;</p>{{/if}}
        {{/each}}
    </main>
    <footer>
        <hr>
    </footer>
</body>

</html>