@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./PT_Mono-400-1.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: url('./PT_Serif-400-2.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: url('./PT_Serif-700-3.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url('./PT_Serif-400-4.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: url('./PT_Serif-700-5.ttf') format('truetype');
}
