<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{{title}}</title>
    {{> strings.html }}
    <link rel="stylesheet" href="fonts/PT_fonts.css">
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <header>
        {{#if title}}<h1>{{title}}</h1>{{/if}}
    </header>
    <main>
        {{#each body}}
        <p>{{{marked this}}}</p>
        {{/each}}
    </main>
    <footer>
        {{> author.html }}
        {{> date.html }}
    </footer>
</body>

</html>